* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: antiquewhite;
}
#main{
    background: greenyellow;
    border: 1px solid red;
}
.wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
   height: auto !important;
}
.content {
    box-sizing: border-box;
    padding-bottom: 90px;
    min-height: 100%;
}



.footer {

    width: 100%;
    height: 80px;
    margin-top: -80px;
    background: aquamarine;
}

.error {
    color: red;
}

.formRow {
    padding:0 0 0 20px;
}

#divTimer1 {
    font-size: 30pt;
    height: 50px;
    background: red;
    width: 300px ;

}
#gameover {
    font-size: 30pt;
}
.textPreRed {
    color: red;
}
.textPreBlue {
    color: blue;
}
.pre1 {
    color: aqua;
}
.menu_link {
    display: block;
    width: 50px;
    height: 50px;
    color: blue;
    font-size: 10pt;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
    text-align: center;
    line-height: 50px;
}
.menu1 {
    background-color: blueviolet;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100vw;
    transition: all 0.5s;
    top: 5px;
    width: 200px;
    height: 600px;
}
.menu_active {
    left: 0;
}
    .menu1 ul {
            list-style: none;
            padding: 0;
            text-align: center;
            width: 100%;
    }
    .menu1 li {
        width: 100%;
        display: block;
    }
    .menu1 a {
        line-height: 4;
        font-weight: 100;
        color: white;
        display: block;
        width: 100%;
        letter-spacing: 4px;
        transition: all 0.2s;
    }
    .menu1 a:hover {
        background-color: rgba(255,255,255,0.4);
        text-decoration: none;
    }
